{% extends 'all-posts/base.html' %}
{% load staticfiles%}

<!-- Styles block -->
{% block styles %}

    {{block.super}}
    <link rel="stylesheet" href="{% static 'css/image-post.css'%}">

{% endblock %}

<!-- Content block -->
{% block content %}

    {{block.super}}
    <div class="container-fluid">

        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <img src="{{image_post.image.url}}" alt="{{image_post.name}}" class="img-responsive">
                
            </div>
        </div>
        
        <div class="row tagsRow">

            {% for tag in image_post.tags.all %}

                <small class="imagePostTags">
                    {{tag.name}}
                </small>

            {% endfor %}
            
        </div>
    </div>
{% endblock %}