{% extends 'all-posts/base.html' %}

{% block content %}

    {{block.super}}
    <div class="container-fluid">

        <div class="row tagRow">
            <h1>{{message}}</h1>
            <h4>List of tags</h4>

        </div>

        <hr>

        <div class="row">

            <h2>
                hsalpsnU
            </h2>

            <article>
                This is a clone of <a href="https://unsplash.com/">Unsplah</a>, a photo sharing website
            </article>

        </div>

        <hr>

        <div class="row">
            <h4>LIst of photos</h4>
        </div>

    </div>
{% endblock %}