{% extends 'all-posts/base.html' %}
{% load staticfiles%}

<!-- Styles block -->
{% block styles %}

    {{block.super}}
    <link rel="stylesheet" href="{% static 'css/base.css'%}">

{% endblock %}

<!-- Content block -->
{% block content %}

    {{block.super}}
    <div class="container-fluid">

        <div class="row tagRow">

            <ul class="tagsList list-unstyled">

                {% for tag in tags|slice:":6"  %}

                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

                        <li>
                            <a href="{%url 'tag' tag.id%}">{{tag.name}}</a>
                        </li>
                        
                    </div>

                {% endfor %}
            </ul>

        </div>

        <hr>

        <div class="row">

            <h1>
                hsalpsnU
            </h1>

            <article>
                This is a clone of <a href="https://unsplash.com/">Unsplah</a>, a photo sharing website
            </article>

        </div>

        <hr>

        <div class="row">
            <h4>LIst of photos</h4>
        </div>

    </div>
{% endblock %}