{% extends 'all-posts/base.html' %}
{% load staticfiles%}

<!-- Styles block -->
{% block styles %}

    {{block.super}}
    <link rel="stylesheet" href="{% static 'css/tag.css'%}">

{% endblock %}

<!-- Content block -->
{% block content %}

    {{block.super}}
    <div class="container-fluid">

        <div class="row singleTagRow">

            <h1>
                {{tag.name}}
            </h1>

        </div>

        <hr>

        <div class="row imageRow">

            {% for image_post in image_posts %}

                <div class="col-md-4 col-lg-4 imageColumn">
                    
                    <a href="{% url 'imagePost' image_post.id%}">

                        <img src="{{image_post.image.url}}" alt="{{image_post.name}}" class="img-responsive">

                    </a>

                </div>

            {% endfor %}

        </div>

    </div>

{% endblock %}