/*Style the index template*/
.tagsList li{
    float: left; 
    font-family: 'Varela', sans-serif;
}

div.col-xs-2.col-sm-2.col-md-2.col-lg-2.well{
    border-radius: 2.5em;
    max-width: 10vw;
    margin-left: 0.5em;
    margin-right: 0.5em;
    background-color: #FAFAFF;
    border-color: #2B303A;
}

div.col-xs-2.col-sm-2.col-md-2.col-lg-2.well > li > a{
    color: #040403;
}

div.col-xs-2.col-sm-2.col-md-2.col-lg-2.well > li > a:hover{
    color: #92AFD7;
    text-decoration: none;
}

.headerRow {
    font-family: 'Varela', sans-serif;
    text-align: left;
}

.siteName{
    font-size: 3.5em;
    margin-left: 0.70em;
    margin-right: 3em;
}

.siteIntro{
    font-size: 1em;
    margin-left: 2.5em;
    margin-right: 3em;
}

.photo {
    position: relative;
    margin-top: 1%;
    margin-bottom: 1%;
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}   

.photo img { 
    width: 100%; 
    margin: 12px 0px;
}

@media only screen and (max-width: 500px) { 
    .photo {
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
    }       
}

@media only screen and (max-width: 1024px) {
    .tagRow{
        display: none;
    }
}

