/*Style the tag and search templates*/
h1.tagName, h1.searchMessage{
    font-family: 'Varela', sans-serif;
    font-size: 2.75em;
    margin-left: 0.70em;
    margin-right: 3em;
}

.photo {
    position: relative;
    margin-top: 1%;
    margin-bottom: 1%;
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}   

.photo img { 
    width: 100%; 
    margin: 12px 0px;
}

@media only screen and (max-width: 500px) { 
    .photo {
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
    }       
}