/*Style the navbar template*/
.navbar{
    background-color: white;
    border-color: white;
}
.siteIcon{
    font-size: 2.75em;
}

a.navbar-brand.siteIcon {
    color: black;
}

a.navbar-brand.siteIcon:hover{
    color: black;
}

.searchForm{
    margin: 0.5em;
}

ul.nav.navbar-nav > li > a {
    color: black;
}

ul.nav.navbar-nav > li > a:hover {
    color: black;
}
.homeOnPhone {
    display: none;
}

@media only screen and (max-width: 425px) {
    li.collections{
        display: none;
    }
    .homeOnPhone {
        display: block;
        margin-top: 0.35em;
        font-size: 2.5em;   
    }
    i.glyphicon.glyphicon-home{
        margin-left: 1em;
        color: black;
    }
}

