/*Style the navbar template*/
.navbar{
    background-color: white;
    border-color: white;
}
.siteIcon{
    font-size: 2.75em;
}

a.navbar-brand.siteIcon {
    color: black;
}

a.navbar-brand.siteIcon:hover{
    color: black;
}