/*Style the navbar template*/
.navbar{
    background-color: #fff;;
    border-color: #fff;;
    font-family: 'Varela', sans-serif;

}
.siteIcon{
    font-size: 2.75em;
}

a.navbar-brand.siteIcon {
    color: #040403;
}

a.navbar-brand.siteIcon:hover{
    color: #C6C7C4;
}

.searchForm{
    margin: 0.5em;
}

ul.nav.navbar-nav > li > a {
    color: #040403;
    margin: 0.5em;
    margin-top: 1em;
}

ul.nav.navbar-nav > li > a:hover {
    color: #C6C7C4;
}

.homeOnPhone {
    display: none;
}

@media only screen and (max-width: 425px) {
    li.collections{
        display: none;
    }
    .homeOnPhone {
        display: block;
        margin-top: 0.35em;
        font-size: 2.5em;   
    }
    i.glyphicon.glyphicon-home{
        margin-left: 1em;
        color: black;
    }
}

@media only screen and (min-width: 1024px) {
    .navbar-form, ul.nav.navbar-nav > li > a {
        margin-left: 3em;
        margin-top: 1em;
    }

    ul.nav.navbar-nav > li > a {
        font-size: 1.15em;
    }
    


}


