{% load bootstrap3 %}
{% load staticfiles%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"content="width=device-width, initial-scale=1">

    <!-- Styles block -->
    {% block styles %}

        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'css/navbar.css'%}">

    {% endblock %}
</head>
<body>

    <nav class="navbar navbar-inverse">

        <div class="container-fluid">

            <div class="navbar-header">

                <a href="{% url 'index'%}" class="navbar-brand siteIcon">
                    <i class="glyphicon glyphicon-camera"></i>
                </a>

            </div>

        </div>

    </nav>

    <!-- Javascript -->

    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% bootstrap_javascript %}
    {% endblock %}
    
</body>
</html>

